<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="nav-link px-2 text-white" ngClass="">Menu Principal</a></li>
        <li><a [routerLink]="['/userlist']" routerLinkActive="router-link-active" class="nav-link px-2 text-white">Amigos</a></li>
        <li><a [routerLink]="['/shop']" routerLinkActive="router-link-active" class="nav-link px-2 text-white">Tienda</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Buscar..." aria-label="Search">
      </form>

      <div ngbDropdown class="d-inline-block">
        <a class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
          <img src="/assets/img/usericon.png" alt="mdo" class="rounded-circle" width="40" height="40">
        </a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button [routerLink]="['/profile/private']" routerLinkActive="router-link-active" ngbDropdownItem>Perfil</button>
          <button [routerLink]="['/userlist']" routerLinkActive="router-link-active" ngbDropdownItem>Amigos</button>
          <button [routerLink]="['/wishlist']" routerLinkActive="router-link-active" ngbDropdownItem>Lista de deseos</button>
          <button [routerLink]="['/settings']" routerLinkActive="router-link-active" ngbDropdownItem>Opciones</button>
          <button (click)="logOut()" ngbDropdownItem>Salir</button>
        </div>
      </div>

      <a [routerLink]="['/settings']" routerLinkActive="router-link-active" ><img src="/assets/img/tuerca.png" style="width:25px;height:25px;"></a>

    </div>
  </div>
</header>
