<div>
  <h1 style="text-align: center; margin-bottom: 50px; font-size: 0;">REGALATEA</h1>
  <div class="wrapper">
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <div>
          <h2 style="text-align: center;">Verificar email</h2>
          <img class="logo" src="../../../assets/img/usericon.png" alt="...">
          <h5 class="p-3" style="text-align: center; font-weight: bold;">Le enviamos un correo electronico para verificarlo</h5>
        </div>
        <br>
        <div class="d-grid gap-2 mt-3">
          <button type="button" class="btn btn-primary btn-lg" routerLink="/login">Volver</button>
        </div>
  </div>
</div>
