<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="dashboard" class="nav-link px-2 text-secondary">Menu Principal</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Perfil</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Amigos</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Wishlist</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Opciones</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Buscar..." aria-label="Search">
      </form>

      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="../../../assets/img/usericon.png" alt="mdo" class="rounded-circle" width="32" height="32">
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="#">Ver Perfil</a></li>
          <li><a class="dropdown-item" href="#">Opciones</a></li>
          <li><hr class="dropdown-divider"></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<p class="title">Lista de Usuarios registrados</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col"> </th>
      <th scope="col">Nombre</th>
      <th scope="col">Email</th>
      <th scope="col">Cumpleaños</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userList">
      <th scope="row">⚟⚞</th>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.birthdate}}</td>
    </tr>

  </tbody>
</table>
